<!-- This file reproduces code found at: -->
<!-- https://developers.google.com/identity/sign-in/web/sign-in -->
<body>

    <!-- Get the data needed to display google login button -->
    <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>

    <!-- Load google platform library -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>

    <!-- Secret Client Key must be in SlugChat/key_file.txt -->
    <meta name="google-signin-client_id" content="{{ GOOGLE_KEY }}">

    <!-- Make sign in button -->
    <div id="my-signin2"></div>

    <!-- Make sign out button -->
    <a href="#" onclick="signOut();">Sign out</a>

    <script>
    function onSuccess(googleUser) {
          var id_token = googleUser.getAuthResponse().id_token;
          var profile = googleUser.getBasicProfile();

          var firstname = profile.getGivenName();
          var lastname = profile.getFamilyName();
          var email = profile.getEmail();
          var profile_pic = profile.getImageUrl();

          var xhr = new XMLHttpRequest();
          xhr.open('POST', 'http://localhost:8000/profile/tokensignin/');
          xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
          xhr.onload = function() {
            console.log('Signed in as: ' + xhr.responseText);
            window.location = "http://localhost:8000/profile/buildprofile/"
          }
          xhr.send("first_name="+firstname+"&last_name="+lastname+"&email_address="+email+"&profile_pic="+profile_pic);

        }

    function onFailure(error) {
      console.log(error);
    }
    function renderButton() {
      gapi.signin2.render('my-signin2', {
        'scope': 'profile email',
        'width': 240,
        'height': 50,
        'longtitle': true,
        'theme': 'dark',
        'onsuccess': onSuccess,
        'onfailure': onFailure
      });
    }

        function signOut() {
          var auth2 = gapi.auth2.getAuthInstance();
          auth2.signOut().then(function () {
            console.log('User signed out.');
          });
        }

    </script>
</body>
