<!-- This file reproduces code found at: -->
<!-- https://developers.google.com/identity/sign-in/web/sign-in -->
<body>

    <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>

    <!-- Load google platform library -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>

    <meta name="google-signin-client_id" content="{{ GOOGLE_KEY }}">

    <div id="my-signin2"></div>
    <!-- Make sign in button -->

    <!-- Make sign out button -->
    <a href="#" onclick="signOut();">Sign out</a>
    <script>
    function onSuccess(googleUser) {
          var id_token = googleUser.getAuthResponse().id_token;
          var profile = googleUser.getBasicProfile();
          console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
          console.log('Name: ' + profile.getName());
          console.log('Given Name: ' + profile.getGivenName());
          console.log('Image URL: ' + profile.getImageUrl());
          console.log('Email: ' + profile.getEmail());

          var firstname = profile.getGivenName();
          var lastname = profile.getFamilyName();
          var email = profile.getEmail();

          var xhr = new XMLHttpRequest();
          xhr.open('POST', 'http://localhost:8000/login/tokensignin/');
          xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
          xhr.onload = function() {
            console.log('Signed in as: ' + xhr.responseText);
          }
          xhr.send("first_name="+firstname+"&last_name="+lastname+"&email_address="+email);

          window.location = "http://localhost:8000/login/buildprofile"
        }

    function onFailure(error) {
      console.log(error);
    }
    function renderButton() {
      gapi.signin2.render('my-signin2', {
        'scope': 'profile email',
        'width': 240,
        'height': 50,
        'longtitle': true,
        'theme': 'dark',
        'onsuccess': onSuccess,
        'onfailure': onFailure
      });
    }

        // auth2 is initialized with gapi.auth2.init() and a user is signed in.
       // if (auth2.isSignedIn.get()) {
       //   var profile = auth2.currentUser.get().getBasicProfile();
       //   console.log('ID: ' + profile.getId());
       //   console.log('Full Name: ' + profile.getName());
       //   console.log('Given Name: ' + profile.getGivenName());
       //   console.log('Family Name: ' + profile.getFamilyName());
       //   console.log('Image URL: ' + profile.getImageUrl());
       //   console.log('Email: ' + profile.getEmail());
       // }

        function signOut() {
          var auth2 = gapi.auth2.getAuthInstance();
          auth2.signOut().then(function () {
            console.log('User signed out.');
          });
        }

    </script>
</body>
