<hl> Profile Page </hl>

<a href="/profile/buildprofile/?update=true">Update Profile</a>
{% if status == 'Student' %}
<a href="/profile/enroll">Enroll in Classes</a>
{% endif %}
{% if status == 'Professor' %}
<a href="/profile/addclass">Add a class</a>
{% endif %}
<dl>
    <img src={{profile_pic}} alt="No image to display">

    <dt> <b> Name: </b> </dt>
    <dd> {{full_name}} </dd>

    <dt> <b> School: </b> </dt>
    <dd> {{school}} </dd>

    <dt> <b> Student ID: </b> </dt>
    <dd> {{studentID}} </dd>

    <dt> <b> Email: </b> </dt>
    <dd> {{email}} </dd>

    <dt> <b> Status: </b> </dt>
    <dd> {{status}} </dd>

    <dt> <b> Classes: </b> </dt>
    {% for class in classes %}
    <dd> {{class.courseID}} </dd>
    {% endfor %}
</dl>
<!-- This file reproduces code found at: -->
<!-- https://developers.google.com/identity/sign-in/web/sign-in -->
<body>

    <!-- Get the data needed to display google login button -->
    <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>

    <!-- Load google platform library -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>

    <!-- Secret Client Key must be in SlugChat/key_file.txt -->
    <meta name="google-signin-client_id" content="{{ GOOGLE_KEY }}">

    <!-- Make sign in button -->
    <div id="my-signin2"></div>

    <!-- Make sign out button -->
    <a href="#" onclick="signOut();">Sign out</a>
    <script>

    function onSuccess(googleUser) {
        }

    function onFailure(error) {
      console.log(error);
    }
    function renderButton() {
      gapi.signin2.render('my-signin2', {
        'scope': 'profile email',
        'width': 0,
        'height': 0,
        'longtitle': false,
        'theme': 'dark',
        'onsuccess': onSuccess,
        'onfailure': onFailure
      });
    }

        function signOut() {
          var auth2 = gapi.auth2.getAuthInstance();
          auth2.signOut().then(function () {
            window.location = "http://localhost:8000/profile/signout/"
            console.log('User signed out.');
          });
        }
    </script>

</body>
